.post {
  width: 218px;
  height: 119px;
  text-align: center;
  border: 1px solid #ce93d8;
  border-radius: 3px;
  box-sizing: border-box;
  background: #f3e5f5;
  cursor: pointer;
  display: flex;
  margin: 7px;
}
